*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url('../todo images/1.jpg');
  background-size: cover;
  background-position: fixed
  ;
}

header{
  background-color: white;
}
#col1, #col2{
    
    height:35rem;
}
.btn{
    width:75%;
}
#txt{
    padding-top: 75px;
}



   #nav{
    background-color: rgb(251, 252, 253);

   }

  .button-solid {
      border: none;
      background-color: rgb(231, 231, 233);
  }
  button-solid:focus {
      border: none;
      outline: none;
  }

.nav-item{
  height:50px;
 
}

table,
th,
td,
tr {
    border: 1px solid black;
}
    th,tr,
    td {
        padding: 20px;
    }
     
    th {
      text-align: center;
    }

    #w1{
      width: 7%;
      background-color: rgb(137, 136, 136);
      border: 3px solid rgb(98, 13, 13);
    }
    #w2{
      width: 88%;
      background-color: rgb(130, 127, 127);
      border: 3px solid rgb(98, 13, 13);
    }
    #w3{
      width: 5%;
      background-color: rgb(128, 127, 127);
      border: 3px solid rgb(98, 13, 13) ;
    }

    nav{
      float: right;
      padding: 50px;
  }
  .nav-item{
    font-size: larger;
      margin-top: 10px;
      padding: 20px;
      padding-right: 20px;
    padding-left: 60px;

  }

  #eat{
    background-image: url('../todo images/2.jpg');
    height: 5cm;
   
  }
  #git{
    background-color: white;
    padding-top: 38px;
    font-size: larger;
    
  }
  
  
  #htxt{
    background-color: blanchedalmond;
  }

  #bt{
    padding: 10px ;
    width: 100%;
    font-size: medium;
  }


  #foot{ margin-top: 300px;
    background-color: white;
    font-size: large;
   
}
#f{
    margin-left: 590px;
}

#u{
    margin-left: 710px;
}

#z{
    margin-left: 600px;
}
